services/collectionobject/jaxb/src/main/resources/collectionobjects_common.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<!--
    CollectionObject schema (XSD)
    
    Entity  : CollectionObject
    Part    : Common
    Used for: JAXB binding between XML and Java objects
    
    $LastChangedRevision$
    $LastChangedDate$
-->

<xs:schema 
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
  jaxb:version="1.0" elementFormDefault="unqualified"
  xmlns:ns="http://collectionspace.org/services/collectionobject"
  xmlns="http://collectionspace.org/services/collectionobject"
  targetNamespace="http://collectionspace.org/services/collectionobject"
  version="0.1">

    <xs:complexType name="otherNumberList">
        <xs:sequence>
            <xs:element name="otherNumber" type="ns:otherNumber" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="otherNumber">
        <xs:sequence>
            <xs:element name="numberValue" type="xs:string"/>
            <xs:element name="numberType" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
<!--
    Avoid XmlRootElement nightmare:
    See http://weblogs.java.net/blog/kohsuke/archive/2006/03/why_does_jaxb_p.html
-->

    <!-- collectionobjects-common -->
    <!-- convention: <servicename>-common  -->
    <xs:element name="collectionobjects_common">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="csid" type="xs:string" />
                
                <!-- Object Identification Information -->
                <xs:element name="objectNumber" type="xs:string"/>
                <xs:element name="otherNumberList" type="ns:otherNumberList" />
                
                <!-- Remove these two elements when the App/UI layer is -->
                <!-- using the new repeatable 'otherNumbers' field -->
                <xs:element name="otherNumber" type="xs:string"/>
                <xs:element name="otherNumberType" type="xs:string"/>

                <xs:element name="briefDescription" type="xs:string"/>
                <!-- xs:element name="briefDescriptions" type="briefDescriptionList"/ -->

                <xs:element name="comments" type="xs:string"/>
                <xs:element name="distinguishingFeatures" type="xs:string"/>
                <xs:element name="numberOfObjects" type="xs:string"/>
                <xs:element name="objectName" type="xs:string"/>
                <xs:element name="objectNameCurrency" type="xs:string"/>
                <xs:element name="objectNameLevel" type="xs:string"/>
                <xs:element name="objectNameNote" type="xs:string"/>
                <xs:element name="objectNameSystem" type="xs:string"/>
                <xs:element name="objectNameType" type="xs:string"/>
                <xs:element name="objectNameLanguage" type="xs:string"/>
                <xs:element name="responsibleDepartments" type="responsibleDepartmentList"/>
                <xs:element name="collection" type="xs:string"/>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="objectTitleLanguage" type="xs:string"/>
                <xs:element name="titleTranslation" type="xs:string"/>
                <xs:element name="titleType" type="xs:string"/>
                <xs:element name="recordStatus" type="xs:string"/>

                <!-- Object Description Information -->
                <xs:element name="age" type="xs:string" />
                <xs:element name="ageQualifier" type="xs:string" />
                <xs:element name="ageUnit" type="xs:string" />
                <xs:element name="color" type="xs:string" />

                <!-- Object Description - Content Information -->
                <xs:element name="contentActivity" type="xs:string" />
                <xs:element name="contentConcept" type="xs:string" />
                <xs:element name="contentDate" type="xs:string" />
                <xs:element name="contentDescription" type="xs:string" />
                <xs:element name="contentEventName" type="xs:string" />
                <xs:element name="contentEventNameType" type="xs:string" />
                <xs:element name="contentNote" type="xs:string" />
                <xs:element name="contentLanguage" type="xs:string" />
                <xs:element name="contentObject" type="xs:string" />
                <xs:element name="contentObjectType" type="xs:string" />
                <xs:element name="contentOrganization" type="xs:string" />
                <xs:element name="contentOther" type="xs:string" />
                <xs:element name="contentOtherType" type="xs:string" />
                <xs:element name="contentPeople" type="xs:string" />
                <xs:element name="contentPerson" type="xs:string" />
                <xs:element name="contentPlace" type="xs:string" />
                <xs:element name="contentPosition" type="xs:string" />
                <xs:element name="contentScript" type="xs:string" />

                <xs:element name="copyNumber" type="xs:string" />

                <!-- Object Description - Dimension Information -->
                <xs:element name="dimension" type="xs:string" />
                <xs:element name="dimensionMeasuredPart" type="xs:string" />
                <xs:element name="dimensionMeasurementUnit" type="xs:string" />
                <xs:element name="dimensionValue" type="xs:string" />
                <xs:element name="dimensionValueDate" type="xs:string" />
                <xs:element name="dimensionValueQualifier" type="xs:string" />
                
                <xs:element name="editionNumber" type="xs:string" />
                <xs:element name="form" type="xs:string" />

                <!-- Object description Inscription - Content Information -->
                <xs:element name="inscriptionContent" type="xs:string" />
                <xs:element name="inscriber" type="xs:string" />
                <xs:element name="inscriptionDate" type="xs:string" />
                <xs:element name="inscriptionInterpretation" type="xs:string" />
                <xs:element name="inscriptionLanguage" type="xs:string" />
                <xs:element name="inscriptionMethod" type="xs:string" />
                <xs:element name="inscriptionPosition" type="xs:string" />
                <xs:element name="inscriptionScript" type="xs:string" />
                <xs:element name="inscriptionTranslation" type="xs:string" />
                <xs:element name="inscriptionTransliteration" type="xs:string" />
                <xs:element name="inscriptionType" type="xs:string" />
                
                <!-- Object Description Inscription - Description Information -->
                <xs:element name="inscriptionDescription" type="xs:string" />
                <xs:element name="inscriptionDescriptionInscriber" type="xs:string" />
                <xs:element name="inscriptionDescriptionDate" type="xs:string" />
                <xs:element name="inscriptionDescriptionInterpretation" type="xs:string" />
                <xs:element name="inscriptionDescriptionMethod" type="xs:string" />
                <xs:element name="inscriptionDescriptionPosition" type="xs:string" />
                <xs:element name="inscriptionDescriptionType" type="xs:string" />

                <!-- Object Description Material Information -->
                <xs:element name="material" type="xs:string" />
                <xs:element name="materialComponent" type="xs:string" />
                <xs:element name="materialComponentNote" type="xs:string" />
                <xs:element name="materialName" type="xs:string" />
                <xs:element name="materialSource" type="xs:string" />

                <!-- Misc Object Description Information -->
                <xs:element name="objectStatus" type="xs:string" />
                <xs:element name="phase" type="xs:string" />
                <xs:element name="physicalDescription" type="xs:string" />
                <xs:element name="sex" type="xs:string" />
                <xs:element name="style" type="xs:string" />
                <xs:element name="technicalAttribute" type="xs:string" />
                <xs:element name="technicalAttributeMeasurement" type="xs:string" />
                <xs:element name="technicalAttributeMeasurementUnit" type="xs:string" />
                <xs:element name="objectComponentName" type="xs:string" />
                <xs:element name="objectComponentInformation" type="xs:string" />

                <!-- Object Production Information -->
                <xs:element name="objectProductionDate" type="xs:string" />
                <xs:element name="objectProductionNote" type="xs:string" />
                <xs:element name="objectProductionOrganization" type="xs:string" />
                <xs:element name="objectProductionPeople" type="xs:string" />
                <xs:element name="objectProductionPerson" type="xs:string" />
                <xs:element name="objectProductionPlace" type="xs:string" />
                <xs:element name="objectProductionReason" type="xs:string" />
                <xs:element name="technique" type="xs:string" />
                <xs:element name="techniqueType" type="xs:string" />

                <!-- Object History and Association Information - Association -->
                <xs:element name="associatedActivityNote" type="xs:string" />
                <xs:element name="associatedConcept" type="xs:string" />
                <xs:element name="associatedCulturalAffinity" type="xs:string" />
                <xs:element name="associatedDate" type="xs:string" />
                <xs:element name="associatedEventName" type="xs:string" />
                <xs:element name="associatedEventNameType" type="xs:string" />
                <xs:element name="associatedEventOrganization" type="xs:string" />
                <xs:element name="associatedEventPeople" type="xs:string" />
                <xs:element name="associatedEventPerson" type="xs:string" />
                <xs:element name="associatedEventPlace" type="xs:string" />
                <xs:element name="associatedObject" type="xs:string" />
                <xs:element name="associatedObjectType" type="xs:string" />
                <xs:element name="associatedOrganization" type="xs:string" />
                <xs:element name="associatedPeople" type="xs:string" />
                <xs:element name="associatedPerson" type="xs:string" />
                <xs:element name="associatedPlace" type="xs:string" />
                <xs:element name="associationNote" type="xs:string" />
                <xs:element name="associationType" type="xs:string" />

                <!-- Object History and Association Information - History -->
                <xs:element name="objectHistoryNote" type="xs:string" />
                <xs:element name="owner" type="xs:string" />
                <xs:element name="ownershipAccess" type="xs:string" />
                <xs:element name="ownershipCategory" type="xs:string" />
                <xs:element name="ownershipDates" type="xs:string" />
                <xs:element name="ownershipExchangeMethod" type="xs:string" />
                <xs:element name="ownershipExchangeNote" type="xs:string" />
                <xs:element name="ownershipExchangePriceDenomination" type="xs:string" />
                <xs:element name="ownershipExchangePriceValue" type="xs:string" />
                <xs:element name="ownershipPlace" type="xs:string" />
                <xs:element name="usage" type="xs:string" />
                <xs:element name="usageNote" type="xs:string" />

                <!-- Object Owner's Contribution Information -->
                <xs:element name="ownersPersonalExperience" type="xs:string" />
                <xs:element name="ownersPersonalResponse" type="xs:string" />
                <xs:element name="ownersReference" type="xs:string" />
                <xs:element name="ownersContributionNote" type="xs:string" />

                <!-- Object Viewers Contribution Information -->
                <xs:element name="viewersRole" type="xs:string" />
                <xs:element name="viewersPersonalExperience" type="xs:string" />
                <xs:element name="viewersPersonalResponse" type="xs:string" />
                <xs:element name="viewersReference" type="xs:string" />
                <xs:element name="viewersContributionNote" type="xs:string" />

                <!-- Reference Information -->
                <xs:element name="reference" type="xs:string" />
                <xs:element name="catalogNumber" type="xs:string" />

                <!-- Object Collection Information -->
                <xs:element name="fieldCollectionEventName" type="xs:string" />
				
                <!-- Object Description Date Information -->
                <!-- This appears to be a placeholder structured date -->
                <xs:element name="dateAssociation" type="xs:string" />
                <xs:element name="dateEarliestSingle" type="xs:string" />
                <xs:element name="dateEarliestSingleCertainty" type="xs:string" />
                <xs:element name="dateEarliestSingleQualifier" type="xs:string" />
                <xs:element name="dateLatest" type="xs:string" />
                <xs:element name="dateLatestCertainty" type="xs:string" />
                <xs:element name="dateLatestQualifier" type="xs:string" />
                <xs:element name="datePeriod" type="xs:string" />
                <xs:element name="dateText" type="xs:string" />
                
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="responsibleDepartmentList">
        <xs:sequence>
            <xs:element name="responsibleDepartment" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="briefDescriptionList">
        <xs:sequence>
            <xs:element name="briefDescription" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    
    <!-- This is the base class for paginated lists -->
    <xs:complexType name="abstractCommonList">
        <xs:annotation>
            <xs:appinfo>
                <jaxb:class ref="org.collectionspace.services.jaxb.AbstractCommonList"/>
            </xs:appinfo>
        </xs:annotation>
    </xs:complexType>
    
    <xs:element name="collectionobjects-common-list">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="abstractCommonList">
                    <xs:sequence>
                        <xs:element name="collection-object-list-item" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="objectNumber" type="xs:string"
                                        minOccurs="1" />
                                    <xs:element name="title" type="xs:string"
                                        minOccurs="1" />
                                    <!-- uri to retrive collection object details -->
                                    <xs:element name="uri" type="xs:anyURI"
                                        minOccurs="1" />
                                    <xs:element name="csid" type="xs:string"
                                        minOccurs="1" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>        
        </xs:complexType>
    </xs:element>
        
</xs:schema>

