sandbox/aron/schema/samples/patron.rng

<element name="patron"
         xmlns="http://relaxng.org/ns/structure/1.0">
  <!-- From http://www.ibm.com/developerworks/xml/library/x-matters25.html -->
  <interleave>
    <element name="name"><text/></element>
    <element name="id-num"><text/></element>
    <zeroOrMore>
      <element name="book">
        <choice>
          <attribute name="isbn"/>
          <attribute name="title"/>
        </choice>
      </element>
    </zeroOrMore>
  </interleave>
</element>
