services/jaxb/src/main/resources/collectionspace_core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           jaxb:version="1.0"
           targetNamespace="http://collectionspace.org/collectionspace_core/"
           version="4.0">
  <xs:element name="collectionspace_core">
    <xs:annotation>
      <xs:appinfo>
        <jaxb:class name="CollectionSpaceCore" />
        <jaxb:package name="org.collectionspace.services.core" />
      </xs:appinfo>
    </xs:annotation>

    <xs:complexType>
      <xs:sequence>
        <xs:element name="uri" type="xs:string"/>
        <xs:element name="updatedAt" type="xs:date"/>
        <xs:element name="refName" type="xs:string"/>
        <xs:element name="updatedBy" type="xs:string"/>
        <xs:element name="tenantId" type="xs:string"/>
        <xs:element name="createdAt" type="xs:date"/>
        <xs:element name="createdBy" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
