services/account/jaxb/src/main/resources/accounts_common.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
    jaxb:version="2.1" elementFormDefault="unqualified"
    xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
    xmlns:hj="http://hyperjaxb3.jvnet.org/ejb/schemas/customizations"
    xmlns:orm="http://java.sun.com/xml/ns/persistence/orm"
    xmlns:ns="http://collectionspace.org/services/account"
    xmlns="http://collectionspace.org/services/account"
    targetNamespace="http://collectionspace.org/services/account"
    	version="0.1"
    	jaxb:extensionBindingPrefixes="hj orm xjc"
    >

    <!--
    Avoid XmlRootElement nightmare:
    See http://weblogs.java.net/blog/kohsuke/archive/2006/03/why_does_jaxb_p.html
	-->

	<xs:annotation>
		<xs:appinfo>
			<jaxb:globalBindings generateIsSetMethod="true" localScoping="toplevel">
				<jaxb:serializable/>
			</jaxb:globalBindings>
		</xs:appinfo>
	</xs:annotation>

    <!-- accounts-common -->
    <!-- convention: <servicename>-common  -->
    <xs:element name="accounts_common">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    AccountsCommon is the account definition in CollectionSpace
                    - userId is unique across all realms and across all tenants in CollectionSpace
                    - password should be &gt;8 and &lt;24 chars in length
                    - tenant association is usually not required to be provided by the
                    service consumer. only in cases where a user in CollectionSpace
                    has access to the spaces of multiple tenants, this is used
                    to associate that user with more than one tenants
                </xs:documentation>
                <xs:appinfo>
                    <hj:entity>
                        <orm:table name="accounts_common">
	                        <orm:unique-constraint>
	                            <orm:column-name>userid</orm:column-name>
		                    </orm:unique-constraint>
                        </orm:table>
                    </hj:entity>
                </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
                <xs:element name="screenName" type="xs:string" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo>
                            <hj:basic>
                                <orm:column name="screen_name" length="128" nullable="false"/>
                            </hj:basic>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="personRefName" type="xs:string" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo>
                            <hj:basic>
                                <orm:column name="person_ref_name" />
                            </hj:basic>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="email" type="xs:string" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo>
                            <hj:basic>
                                <orm:column name="email" nullable="false"/>
                            </hj:basic>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="phone" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo>
                            <hj:basic>
                                <orm:column name="phone" nullable="true"/>
                            </hj:basic>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="mobile" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo>
                            <hj:basic>
                                <orm:column name="mobile" nullable="true"/>
                            </hj:basic>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <!-- userid, could be calnet id, openid URI -->
                <xs:element name="userId" type="xs:string" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            userId is unique across all tenants in CollectionSpace
                        </xs:documentation>
                        <xs:appinfo>
                            <hj:basic>
                                <orm:column name="userid" length="128"  nullable="false"/>
                            </hj:basic>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <!-- optional base64 encoded password for default identity provider only -->
                <xs:element name="password" type="xs:base64Binary" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            password should be &gt;8 and &lt;24 chars in length
                        </xs:documentation>
                        <xs:appinfo>
                            <hj:ignored/>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="requireSSO" type="xs:boolean" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            If true, login through an SSO identity provider is required.
                        </xs:documentation>
                        <xs:appinfo>
                            <hj:basic>
                                <orm:column name="require_sso" />
                            </hj:basic>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="tenants" type="account_tenant" minOccurs="1" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            tenant association is usually not required to be provided by the
                            service consumer. only in cases where a user in CollectionSpace
                            has access to the spaces of multiple tenants, this is used
                            to associate that user with more than one tenants
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="status" type="status">
                    <xs:annotation>
                        <xs:appinfo>
                            <hj:basic>
                                <orm:column name="status" length="15" nullable="false"/>
                            </hj:basic>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="metadataProtection" type="xs:string" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo>
                            <hj:basic>
                                <orm:column name="metadata_protection"  nullable="true"/>
                            </hj:basic>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="rolesProtection" type="xs:string" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo>
                            <hj:basic>
                                <orm:column name="roles_protection"  nullable="true"/>
                            </hj:basic>
                        </xs:appinfo>
                    </xs:annotation>
				</xs:element>
				<xs:element name="createdAt" type="xs:dateTime">
                    <xs:annotation>
                        <xs:appinfo>
                            <hj:basic>
                                <orm:column name="created_at" nullable="false"/>
                            </hj:basic>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="updatedAt" type="xs:dateTime">
                    <xs:annotation>
                        <xs:appinfo>
                            <hj:basic>
                                <orm:column name="updated_at" />
                            </hj:basic>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="roleList" type="roleList" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="csid" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <hj:id>
                            <orm:column name="csid" length="128" nullable="false"/>
                        </hj:id>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="roleList">
        <xs:annotation>
            <xs:documentation>
                RoleList is used relationships
            </xs:documentation>
            <xs:appinfo>
                <hj:ignored/>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="role" type="role_value" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="role_value" >
        <xs:annotation>
            <xs:documentation>
                RoleValue is used in relationships
            </xs:documentation>
            <xs:appinfo>
                <hj:ignored/>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
        	<xs:element name="roleRelationshipId" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="roleId" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="roleName" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="displayName" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="tenantId" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="status">
        <xs:annotation>
            <xs:documentation>
                Status of the account in CollectionSpace
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="active" />
            <xs:enumeration value="inactive" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="account_tenant">
        <xs:annotation>
            <xs:documentation>
                AccountTenant defines the relationship between an account and a tenant
            </xs:documentation>
            <xs:appinfo>
                <hj:entity>
                    <orm:table name="accounts_tenants">
                    </orm:table>
                </hj:entity>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="tenant_id" type="xs:string" minOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <hj:basic>
                            <orm:column name="tenant_id" length="128" nullable="false"/>
                        </hj:basic>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- FIXME tenant definition could be in a separate schema -->
	<xs:element name="tenant">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
					Tenant defines the tenant in CollectionSpace
				</xs:documentation>
				<xs:appinfo>
					<hj:entity>
						<orm:table name="tenants" />
					</hj:entity>
				</xs:appinfo>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="id" type="xs:string" minOccurs="1">
					<xs:annotation>
						<xs:appinfo>
							<hj:id>
								<orm:column name="id" length="128" nullable="false" />
							</hj:id>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="name" type="xs:string" minOccurs="1">
					<xs:annotation>
						<xs:appinfo>
							<hj:basic>
								<orm:column name="name" nullable="false" />
							</hj:basic>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="configMD5Hash" type="xs:string">
					<xs:annotation>
						<xs:appinfo>
							<hj:basic>
								<orm:column name="config_md5hash"/>
							</hj:basic>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="authoritiesInitialized" type="xs:boolean">
					<xs:annotation>
						<xs:appinfo>
							<hj:basic>
								<orm:column name="authorities_initialized" nullable="false" />
							</hj:basic>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="disabled" type="xs:boolean">
					<xs:annotation>
						<xs:appinfo>
							<hj:basic>
								<orm:column name="disabled" nullable="false" />
							</hj:basic>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="createdAt" type="xs:dateTime">
					<xs:annotation>
						<xs:appinfo>
							<hj:basic>
								<orm:column name="created_at" nullable="false" />
							</hj:basic>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="updatedAt" type="xs:dateTime">
					<xs:annotation>
						<xs:appinfo>
							<hj:basic>
								<orm:column name="updated_at" />
							</hj:basic>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
